/* Images clefs pour l'animation du logo boostrap --> dans la section nos services*/
@keyframes icone{
    from {
        opacity: 0%;
    }
    50%{
        opacity: 50%;
    }
    to{
        opacity: 100%;
    }
}
header{
    /* Mise en place de la barre des menus*/
display: flex;
justify-content: space-between;
}
#logo{
    margin-left: 5%;
    width: 100%;
    display: flex;
    align-items: center;
}
nav{
    margin-top: 20px;
    margin-bottom: -20px;
    width: 100%;;
    display: flex;
}
nav a{
    margin-right: 5%;
    justify-content: space-around;
    display: flex;
    align-items: center;
}
/* Couleur du texte sur l'image */
figure{

    width: 100%;
    margin: auto;
    color: white;
}

/* Placement des flèches et des demi-cercles du slider*/
#fleche{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 462px;
    margin-right: -2px;
    margin-left: 35px;
}
#fondfleche{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 500px;
}
/* Design des flèches de leur fond, mise au premier-plan et ajustement */
.arrow-left {
    font-size: 30px;
    color: white;
    z-index: 2;
    margin-left: -27px;
}
.arrow-right {
    display: flex;
    font-size: 30px;
    color: white;
    z-index: 2;
    margin-right: 7px;
}
.demicercle{
    margin-left: -20px;
    display: flex;
    height: 40px;
    width: 80px;
    background: rgba(0, 0, 0, 0.507);
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    transform : rotate(90deg);
    z-index: 1; 
}
.demicercle2{
    margin-right: -20px;
    display: flex;
    height: 40px;
    width: 80px;
    background: rgba(0, 0, 0, 0.507);
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    transform : rotate(-90deg);
    z-index: 1;
}
/* Design du bouton slider */
figure button{
    padding: 25px;
    background: linear-gradient(to right,white, blue);
    text-transform: uppercase;
    font-size: 15px;
    color: black;
    margin-top: 2%;
    margin-bottom: 10%;
    border-style: none;
    border-block-end: solid rgba(3, 3, 167, 0.575) 5px;
}
/* Mise en position du texte et du bouton slider*/
#boutonslide {
    margin-top: 70px;
    position: relative;
    bottom: 600px;
    left: 200px;
    margin-bottom: -400px; 
    
}
/* Design du titre du texte slider*/
figure h1{
    text-transform: uppercase;
    font-size: 30px;
}
/* Image du slider*/
 figure img{
     width: 100%;
 }
 /* Taille et position du main*/
 main{
     width: 100%;
     position: relative;
     top: -80px;
 }
 /* Titre, cercle, p, section services*/ 
 #intro{
     position: relative;   
 }
#intro h2{
     text-transform: uppercase;
     text-align: center;
 }
#intro p{
    text-align: center;
    margin-bottom: 2%;
}
/* Titre, cercle, p, section projets*/ 
 #intro2{
    position: relative;
    
}
#intro2 h2{
    text-transform: uppercase;
    text-align: center;
}
#cercle{
       width: 20px;
       height: 20px;
       border-radius: 20px;
       background: blue;
       margin: auto;
}
#intro2 p{
   text-align: center;
   margin-bottom: 2%;
}
/*Positionnement de la section services*/
#service{
    display: flex;
    margin-bottom: 90px;
}
#ordi{
    display: flex;
    width: 100%;
}
#ordi img{
    width: 100%;
}
#together{
display: flex;
flex-direction: column;
width: 100%;
margin-top: 7%;
}
.iconepuce{
    height: 10vh;
    width: 10%;
    display: flex;
    align-items: center;
}
.icone{
    animation: icone 2s steps(4);
    width: 50%;
    display: flex;
    margin-right: 20%;
}
.puce{
    width: 15px;
        height: 15px;
        border-radius: 15px;
        background: blue;
        display: flex;
}
.droite{
    display: flex;
}

/* Mise en place de la nav à bouton pour les photos*/
#b1 button{
    border-style: none;
    background-color: blue;
    color: white;
}
#triangle{
    display : inline-block;
    height : 0;
    width : 0;
    border-top : 25px solid blue;
    border-right : 25px solid transparent;
    border-left : 25px solid transparent;
    position: relative;
    top: -3px;
    left: 1010px;
    margin-top: -150px;
   }
#navphotos{
    display: flex;
    width: 50%;
    margin: auto;
    align-items: center;
}
#navphotos nav{
    display: flex;
    width: 29.5%;
    margin: auto;
    align-items: center;
}
/*Positionnement de la section projet*/
#projet{
    width: 100%;
}

#images{
    width: 100%;
    height: 50%;
    margin: auto;
    display: flex;
    margin-top: -7%;
}
/* Mise en place de la figcation 4ème image 1ère ligne*/
#figcaption{
    background-color: rgba(0, 0, 0, 0.568);
    color: white;
    width: 23.3%;
    position: relative;
    left: 1795px;
    top: 242px;
    opacity: 0;
}
#figcaption h1{
    font-size: 30px;
    text-transform: uppercase;
    margin-left: 15px;

}
#figcaption p{
    font-size: 20px;
    margin-left: 15px;
}
#figcaption:hover{
    opacity: 1;
}
#images2{
    width: 100%;
    height: 50%;
    display: flex;
    margin: auto;
    margin-bottom: -10px;
}
footer{
    padding: 50px;
    display: flex;
    background-size: cover;
    background-image: url(./Assets/images/tianjin-2185510.jpg);
    width: 94%;
    margin: auto;
} 
/* Mise en place du formulaire et son design*/
footer label {
    color: white;
    flex-direction: column;
}
.nom{
    margin-bottom: 2%;
}
.formulaire{
    background-color: rgba(255, 255, 255, 0.24);
    padding : 50px;
    width: 50%;
    margin-left: 80%;
    margin-right: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: right;
}
footer{
    margin-top: -25px;
}
.formulaire h1{
    margin-right: 35%;
    color: blue;
}
.formulaire button{
    text-transform: uppercase;
    width: 100%;
    margin-right: 1%;
    background-color: blue;
    color: white;
    margin-bottom: 12%;
}
.confirm{
    margin-top: 12%;
    margin-right: 37.5%;
}
.boutonperso{
    margin-top: 82%;
    background-color: blue;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
}
#name{
    margin-bottom: 10%;
}